<div style="width: 100%; height: 90vh;" class="d-flex justify-content-center align-items-center">
    <div style="width: 35rem;" class="shadow p-5 rounded bg-info">
        <form action="">
            <div class="form-floating mb-3">
                <input [(ngModel)]="email" name="email" type="email" class="form-control" id="floatingInput" placeholder="Email">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating">
                <input [(ngModel)]="password" name="pswd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="text-center mt-4">
                <input (click)="login()" class="btn btn-warning tet-light" type="button" value="login">
              </div>
        </form>
    </div>
</div>