<div *ngIf="!editAdminStatus">
    <div class="admin-image d-flex justify-content-center align-items-center mt-5">
        <img width="150px" height="150px" class="img-fluid rounded" [src]="url" alt="">
    </div>
    <div class="admin-update text-center mt-1">
        <h5 (click)="editadminbtnclick()" class="text-primary btn btn-link fs-5 mt-2"> Edit Admin Details <i
                class="fa-solid fa-pen"></i></h5>
    </div>
</div>
<div *ngIf="editAdminStatus" class="text-center p-2">
    <h4 class="text-primary">Edit Admin Details</h4>
    <label>
        <input (change)="getFile($event)" type="file" style="display: none;" class="mt-1">
        <img width="150px" height="150px" class="img-fluid rounded" [src]="url" alt="profile">
    </label>
    <input [(ngModel)]="admin.name" type="text" class="form-control mt-2" placeholder="Admin name">
    <input [(ngModel)]="admin.password" type="text" class="form-control mt-2" placeholder="Admin password">
    <input (click)="cancel()" type="button" value="Cancel" class="btn btn-warning mt-2 ">
    <input (click)="update()" type="button" value="Update" class="btn btn-primary mt-2 ms-5">

</div>