<div class="d-flex border border-light">
    <div style="width: 200px; height: 95vh;"  class="sidebar bg-info p-3 d-flex flex-column">
        <a routerLink='home'>HOME</a>
        <a routerLink='/users'>USERS</a>
    </div>
    <div class="dashboard p-3 w-100">
        <div class="title">
            <h1>Edit User Details</h1>
        </div>
        <div class="user-details mt-3 shadow rounded  border p-3 w-75">
            <form  #addUserForm="ngForm">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputId" placeholder="User Id" name="id" #id="ngModel" [(ngModel)]="user.id" pattern="[0-9]*" required>
                    <label for="floatingInput">User Id</label>
                </div>
                <!-- invalid id-->
                <div *ngIf="id.invalid && id.touched"  class="mb-3 text-danger">*Invalid Id</div>
                <!--  -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputname" placeholder="User Name" name="name" #name="ngModel" [(ngModel)]="user.name" pattern="[a-zA-Z ]*" required>
                    <label for="floatingInput">User Name</label>
                </div>
                 <!-- invalid name-->
                 <div *ngIf="name.invalid && name.touched"  class="mb-3 text-danger">*Invalid Username</div>
                 <!--  -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInputemail" placeholder="name@example.com" name="email" #email="ngModel" [(ngModel)]="user.email" email required>
                    <label for="floatingInput">Email address</label>
                </div>
                <!-- invalid email-->
                <div *ngIf="email.invalid && email.touched"  class="mb-3 text-danger">*Invalid Email</div>
                <!--  -->
                <!-- dropdown -->
                <div class="form-floating mb-3">
                    <select name="" id="floatingInputstatus" class="form-control"  name="active" #active="ngModel" [(ngModel)]="user.active"  required>
                        <option disabled selected hidden value=""></option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <label for="floatingInputstatus">Status</label>
                </div>
                <!-- invalid active-->
                <div *ngIf="active.invalid && active.touched"  class="mb-3 text-danger">*Invalid Status</div>
                <!--  -->
                <div>
                    <button (click)="cancelUpdate(user.id)" class="btn btn-warning">Cancel</button>
                    <button [disabled]="addUserForm.invalid" (click)="updateUser()"  class="btn btn-success ms-5">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
